<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body><!-- Static navbar-->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar" class="navbar-toggle collapsed"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span></button>
            <a href="/" class="navbar-brand">Project name</a></div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </div><!-- /.nav-collaps--></div>
</nav>
<div class="container">
    <form action="/login" method="post" class="form-login"><h2 class="form-login-heading">Please log in</h2><label
            for="email" class="sr-only">Email address</label><input id="email" type="email" name="email"
                                                                    placeholder="Email address" required="" autofocus=""
                                                                    class="form-control"><label for="password"
                                                                                                class="sr-only">Password</label><input
            id="password" type="password" name="password" placeholder="Password" required="" class="form-control">
        <div class="checkbox"><label><input type="checkbox" name="rememberme" value="rememberme"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
    </form>
</div>
<footer>
    <div class="container text-center"><p class="pull-left">© 2016 Company, Inc. All Rights Reserved</p>
        <ul class="pull-right list-inline">
            <li><a href="https://github.com/rainhawk616/NodeExpressBootstrapPostgres">GitHub Project</a></li>
            <li><a href="https://github.com/rainhawk616/NodeExpressBootstrapPostgres">Issues</a></li>
        </ul>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
</body>
</html>